html, body{
    width: 100%;
    height: 100%;
    margin-bottom: 300px;
}

.flex_box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.flex_box a{
    text-decoration: none;
    color: white;
}
.flex_box a:hover{
    text-decoration: none;
    background-color: rgb(215, 219, 233);
    color: white;
}
.nav_bar ul{
    list-style-type: none;
    background-color: #33afff;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.nav_bar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav_bar a:hover{
    background-color: white;
    color: #33afff;

}
.nav_bar li{
    float: left;
}

.nav_barlogout{
    float: right;
}
.content{
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
footer{
    position: fixed;
    width: 100%;
    height: 70;
    background-color: #33afff;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    bottom: 0;
    margin-top: 100px;
    color: wheat;
}

.img_school_nav_logo{
    border-radius: 8px;
}