{% extends 'base.html' %}
{% load crispy_forms_tags %} {% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form_groupe">

            <legend class="borde-botom mb-4">Remove school subject</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form_groupe">
            <button class="btn btn-outline-info" type="submit">Delete subject</button>
        </div>
    </form>
    <div><a href="{% url 'hr_workplace' %}">Back to the HR workplace</a></div>
</div>

{% endblock %}