{% extends 'base.html' %}
{% load crispy_forms_tags %} {% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <h1>Personal and Students management</h1>
        <div><a href="{% url 'hr_register' %}">Create new user</div>
        <div><a href="{% url 'user_index' %}">Change/update user</div>
        <div><a href="{% url 'user_remove' %}">Remove user and his assosiates </a></div>

        
    </form>
    <div><a href="{% url 'hr_workplace' %}">Back to the HR workplace</a></div>
</div>

{% endblock %}