{% extends 'base.html' %}
{% load crispy_forms_tags %} {% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <h1>Subject management</h1>
        <h3>Current subjecrs</h3>
            {% for subject in subject_management %}
                <h5>{{ subject.subject_short}}</h5>
            {% endfor %}

        <h3>Actions</h3>
        <div><a href="{% url 'subject_add' %}">Add new Subject</a></div>
        <div><a href="{% url 'subject_update' %}">Update/change existing subject</a></div>
        <div><a href="{% url 'subject_remove' %}">Remove Subject</a></div>
    </form>
    <div><a href="{% url 'hr_workplace' %}">Back to the HR workplace</a></div>
</div>

{% endblock %}